<html>
	<body>
		<h1>Voici ta liste mon gars</h1>
			<form method="post">
				<input type="text" name="value" id="value"/>
				<input type="submit" value="Ajouter"/>
			</form>
	</body>
</html>