<html>
	<body>
		<h1>Create a new member</h1>
		<form method="post">
		<input type="text" id="alias" placeholder="alias"/>
		<input type="text" id="password" placeholder="password"/>
		<input type="submit" value="Ajouter"/>
		</form>
	</body>
</html>
