<!DOCTYPE html>
<html>
    <head>
		<script src="/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
		<script src="/js/dropzone.js"></script>
		<link class="codestyle" rel="stylesheet" href="/css/dropzone.css">
		<link rel="stylesheet" href="/css/chat.css">
		<link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/styles/zenburn.css">
        <link class="codestyle" rel="stylesheet" href="/css/styles/default.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/solarized_dark.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/solarized_light.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/github.css">
		<link class="codestyle" rel="stylesheet" href="/css/styles/railscasts.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/monokai_sublime.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/mono-blue.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/tomorrow.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/color-brewer.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/styles/zenburn.css" disabled="">
		<script src="/js/highlight.pack.js"></script>
		<script>hljs.initHighlighting();</script>
        <title>Chat</title>
    </head>
 
    <body class="web">
        <div id="header">
           <div id="logo">
				<img src="/images/Title_logo-800x150.png" alt="logo" width="500" height="94"/>
		   </div> 
        </div>
       	<div id="content">
       		<div id="contentLeft">
	        	<div id="contentLeftTop">
	        	</div>
	        	<div id="contentLeftBottom">
	        		<form action="/" class="dropzone"></form>
	        	</div>
	        	</div>
	        <div id="contentRight">
	            <div id="listOfMessages">
	                
	            </div>
	            <div id="write">
	                <span id="input">
	                    <div id="message" contenteditable="true" class="editable">
						</div>
	                </span>
					<span id="sendMessage" class="backgroundSend"/>
	            </div>
				<div class="commands">
					<a class="basicText showEmoticons fancybox.ajax button imgEmoticon" href="/html/showAvailableEmoticons.html"></a>
					<a class="basicText sendImage fancybox.ajax button imgSendImage" href="/html/popinImage.html"></a>
					<a id="showAliasForm" class="basicText button fancybox.ajax button imgChooseAlias" href="/html/alias.html"></a>
					<a id="selectLanguageToHighLight" class="basicText button fancybox.ajax button imgSendCode" href="/html/selectLanguageToHighlight.html"></a>
					<form id="sendFile" enctype="multipart/form-data" method="post">
						<input type="file" name="upload">
						<input type="submit" value="Upload Image" name="submit">
					</form>
				</div>
			</div>
		</div>
        <script src="../socket.io/socket.io.js"></script>
		<script src="/js/tools.js"></script>
        <script src="/js/chat.js"></script>
		<script src="/js/common.js"></script>
    </body>
</html>
