<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Chat</title>
        <link rel="stylesheet" href="/css/chat.css">
    </head>
 
    <body>
        <div id="header">
           <div id="title">Chat</div> 
        </div>
        <div id="content">
            <div id="listOfMessages">
                
            </div>
            <div id="write">
                <span id="input">
                    <textarea id="message"></textarea>
                </span>
                <span id="sendMessage">
                    Send
                </span>
            </div>
        </div>
        <script src="../socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script
    </body>
</html>
