<html>
	<body>
		<h1>Sign in</h1>
		<form method="post">
		<input type="text" id="alias" name="alias" placeholder="alias"/>
		<input type="text" id="password" name="password" placeholder="password"/>
		<input type="submit" value="Sign in"/>
		</form>
	</body>
</html>
