<!DOCTYPE html>
<html>
    <head>
    	<script src="/js/jquery-2.1.3.min.js"></script>
		<script src="/js/dropzone.js"></script>
		<script src="/js/tools.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/css/mobileChat.css">
        <title>Chat</title>
		<meta name="viewport" content="initial-scale=1">
    </head>
    <body class="mobile">
		<div id="listOfMessages"> </div>
		<br/>
		<div id="write">
			<span id="input">
				<div id="message" contenteditable="true" class="editable">
				</div>
			</span>
			<div id="sendMessage"></div>
		</div>
		<br/>
		<div id="aliasPopin">
			<label>alias</label>
			<input id="txtAlias" type="text">
			<div id="sendAlias">SEND</div>
		</div>
		<script src="/js/common.js"></script>
		<script src="/js/mobileChat.js"></script>
		<script src="/js/event.js"></script>
    </body>
</html>
