<!DOCTYPE html>
<html>
    <head>
		<script src="/js/dropzone.js"></script>
		<script src="/js/tools.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<script src="/js/mobileChat.js"></script>
		<script src="/js/common.js"></script>
		<link rel="stylesheet" href="/css/mobileChat.css">
        <title>Chat</title>
		<meta name="viewport" content="initial-scale=1">
    </head>
    <body class="mobile">
        <div id="header">
           <div id="logo">
				<img src="/images/Title_logo-800x150.png" alt="logo" width="500" height="94"/>
		   </div>
        </div>
		<div id="listOfMessages"> </div>
		<div id="write">
			<span id="input">
				<div id="message" contenteditable="true" class="editable">
				</div>
			</span>
			<button id="sendMessage">ENVOYER</button>
		</div>
    </body>
</html>
