<!DOCTYPE html>
<html>
    <head>
    	<script src="/js/libs/jquery-2.1.3.min.js"></script>
		<script src="/js/libs/dropzone.js"></script>
		<script src="/js/tools.js"></script>
		<script src="../socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/css/common.css">
		<link rel="stylesheet" href="/css/mobileChat.css">
		<link rel="stylesheet" href="/css/libs/styles/zenburn.css">
		<link class="codestyle" rel="stylesheet" href="/css/libs/dropzone.css">
        <link class="codestyle" rel="stylesheet" href="/css/libs/styles/default.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/solarized_dark.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/solarized_light.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/github.css">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/railscasts.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/monokai_sublime.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/mono-blue.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/tomorrow.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/color-brewer.css" disabled="">
		<link class="codestyle" rel="stylesheet" href="/css/libs/styles/zenburn.css" disabled="">
		<script src="/js/libs/highlight.pack.js"></script>
        <title>Chat</title>
		<meta content="width=device-width, minimum-scale=1, maximum-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
    </head>
    <body class="mobile">
    <div id="header">
    	<div id="showMenu"></div>
    	<span>OPEN CHAT</span>
    	<img id="logo" src="sdsdsd" title="logo"/>
    </div>
		<div id="listOfMessages">
		</div>
		
		<br/>
		<div id="write" class="hidden">
			<span id="input">
				<div id="message" contenteditable="true" class="editable">
				</div>
			</span>
			<div id="sendMessage"></div>
		</div>
		<br/>
		<div id="aliasPopin" class="hidden">
			<label>alias</label>
			<input id="txtAlias" type="text">
			<div id="sendAlias" class="imgChooseAlias">&nbsp;</div>
		</div>
		<div id="menu" class="hidden">
			<div id="myAlias" class="imgChooseAlias">
				<span class="value">
					toto
				</span>
			</div>
			<div class="imgUploadFile">
				<form action="/" class="dropzone"></form>
			</div>
		</div>
		<div id="mask" class="hidden">&nbsp;</div>
		<script src="/js/common.js"></script>
		<script src="/js/mobileChat.js"></script>
		<script src="/js/event.js"></script>
    </body>
</html>
