<html>
	<body>
		<h1>Voici ta liste mon gars</h1>
		<% for(value in list) {%>
			<h2><a href="/list/delete/<%=value%>"><%= list[value] %></a></h2>
		<%}%>
		<h1>Ajouter un élement</h1>
			<form method="post">
				<input type="text" name="value" id="value"/>
				<input type="submit" value="Ajouter"/>
			</form>
	</body>
</html>