body {
	background-color: #A61414;
}

#header {
	width: 999px;
	margin: auto;
	text-align: center;
}
#content {
	width: 999px;
	margin: auto;
	min-height: 600px;
	background-color: #EFF2F4; 
	padding: 50px;
	float: left;
	margin-left: 20%;
	border: 5px black solid;
}

#listOfMessages {
	min-height: 500px;
	height: 500px;
	border: solid 1px black;
	overflow-y: scroll;
}
#listOfMessages div.fromMe , #listOfMessages div.notFromMe {
	margin-bottom: 9px;
	display: table-row;
}

#listOfMessages div.alias, #listOfMessages div.content {
	display: table-cell;
}

#listOfMessages div.fromMe {
	float: right;
	clear: right;
}

#listOfMessages div.notFromMe .content {
	margin-left: 10px;
}

#listOfMessages div.fromMe .content {
	margin-right: 10px;
}

#listOfMessages .alias span{
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 5px;
	margin-right: 5px;

}
#listOfMessages .fromMe .alias {
	float: right;
}

#listOfMessages .fromMe .alias span {
	font-weight: bold;
	background-color: #F09;
}

#listOfMessages .notFromMe .alias span {
	font-weight: bold;
	background-color: #3CF;
}
.editable {
	border: solid 1px black;
}

#write {
	height: 100px;
	width: 100%;
	margin-top: 10px;
}

#input {
	display: block;
	width: 88%;
	background-color: #FFFFFF;
	float: left;
}
#input, #message {
  height: 96%;
  overflow: hidden;
}

#sendMessage {
	margin-left: 14px;
	margin-top: 5px;
	float: left;
	cursor: pointer;
}

#sendImage {
	width: 125px;
	height: 25px;
	margin-top : 10px;
}

.basicText {
	text-decoration : none;
}

.button {
	display: block;
	width: 97px;
	height: 46px;
	float: left;
	margin: 0px 6px 0px 6px;
}

.imgEmoticon {
 	background: url(../images/button_emoticon-97x46.png);
}

.imgSendImage {
 	background: url(../images/button_sendImage-97x46.png);
}

.imgChooseAlias {
	background: url(../images/button_chooseAlias-97x46.png);
}

.imgUploadFile {
	background: url(../images/button_uploadFile-97x46.png);
}

.imgSendCode {
	background : url(../images/button_selectLanguageToHighlight-97x46.png);
}

.backgroundSendCode {
	background : url(../images/button_send-97x46.png);
}

.alias {
	text-align: center;
}

.commands {
  padding-top: 1%;
  float: left;
}

table, td{
    border: 1px solid black;
}

#showEmoticons td {
	text-align: center;
}

#showEmoticons td img {
	cursor: pointer;
}

.backgroundSend{
	width : 97px;
	height : 89px;
}

.backgroundSendCode{
	width : 97px;
	height : 46px;
	float: right;
}

.backgroundSend {
	background-image: url("../images/send-97x89.png");
}

#sendFile {
	float: left; 
	margin-left: 10px;
	margin-top: 10px;
}

#codeEnter {
	min-height: 530px;	
	width: 99%;
	float: left;
}