body {
	background-color: #e6e6e6;
}

#header {
	width: 999px;
	margin: auto;
	text-align: center;
}

#content {
	width: 900px;
	margin: auto;
}

#contentRight {
	float: right;
	width: 720px;
	min-height: 600px;
	background-color: #FFFFFF; 
	padding: 10px;
}

#contentLeft {
	float: left;
	margin: auto;
	background-color: #FFFFFF;
	width: 135px;
	height: 712px;
}

#contentLeftTop {
	height: 500px;
}


#contentLeft .member {
	margin-left: 10px;
	margin-top: 20px;
}
.dropzone .dz-preview {
	margin-left: -14px;
}

#contentLeft .member .avatar {
	float: left;
	width: 20px;
	height: 20px;
	background: url('../images/avatar.png');
	background-size: 20px 20px;
	margin-left: 10px;
	margin-right: 15px;
}

#contentLeftBottom {
  height: 27%;
}

#listOfMessages {
	min-height: 500px;
	height: 500px;
	border: solid 1px black;
	overflow-y: scroll;
}
#listOfMessages div.fromMe , #listOfMessages div.notFromMe {
	margin-bottom: 9px;
	display: table-row;
	cursor: pointer;
}

#listOfMessages div.alias, #listOfMessages div.content {
	display: inline-block;
}

#listOfMessages div.fromMe {
	float: right;
	clear: right;
}

#listOfMessages div.notFromMe .content {
	background-color: #3cf;
    padding-left: 25px;
	width: 100%;
}

.fromMe .content {
	padding: 5px 5px 5px 0px;
	border-radius: 8px 0px 8px 8px;
}

.notFromMe .content{
	border-radius: 0px 8px 8px 8px;
}

.fromMe .content {
	text-align: right;
}

#listOfMessages div.fromMe .content {
	background-color: #3cf;
	width: 100%;
}

.fromMe svg {
	float: right;
}

.notFromMe svg {
	float: left;
}

#listOfMessages .alias span{
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 5px;
	margin-right: 5px;

}
#listOfMessages .fromMe .alias {
	float: right;
}

#listOfMessages .fromMe .alias span {
	font-weight: bold;
	background-color: #F09;
}

#listOfMessages .notFromMe .alias span {
	font-weight: bold;
	background-color: #3CF;
}
.editable {
	border: solid 1px black;
}

#write {
	height: 100px;
	width: 100%;
	margin-top: 10px;
}

#input {
	display: block;
	width: 84%;
	background-color: #FFFFFF;
	float: left;
}
#input, #message {
  height: 96%;
  overflow: hidden;
}

#sendMessage {
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	cursor: pointer;
}

#sendImage {
	width: 125px;
	height: 25px;
	margin-top : 10px;
}

.basicText {
	text-decoration : none;
}

.button {
	display: block;
	width: 46px;
	height: 46px;
	float: left;
	margin: 0px 35px 0px 6px;
}

.imgEmoticon {
 	background: url(../images/button_emoticon.png);
}

.imgSendImage {
 	background: url(../images/button_sendImage.png);
}

.imgChooseAlias {
	background: url(../images/button_chooseAlias.png);
}

.imgUploadFile {
	background: url(../images/button_uploadFile-97x46.png);
}

.imgSendCode {
	background : url(../images/button_sendCode.png);
}

.backgroundSendCode {
	background : url(../images/button_send-97x46.png);
}

.alias {
	text-align: center;
}

.commands {
  padding-top: 1%;
  float: left;
}

table, td{
    border: 1px solid black;
}

#showEmoticons td {
	text-align: center;
}

#showEmoticons td img {
	cursor: pointer;
}

.backgroundSend{
	width : 68px;
	height : 68px;
}

.backgroundSendCode{
	width : 97px;
	height : 46px;
	float: right;
}

.backgroundSend {
	background-image: url("../images/button_send.png");
}

#sendFile {
	float: left; 
	margin-left: 10px;
	margin-top: 10px;
}

#codeEnter {
	min-height: 530px;	
	width: 99%;
	float: left;
}
#listOfMessages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#listOfMessages::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}