html {
	  max-height: 100vh;
}

body {
	background-color: #E6E6E6;
}

#listOfMessages {
	height: 70vh;
	overflow-y: auto;
  	width: 90vw;
  	background: #FFF;
  	padding-left: 2vw;
}
#write {
	width: 90vw;
	  margin: 0 5vw;
	display: table-row;
}
#message {
	background-color: white;
	min-height: 6vh;
	padding: 6px;
}
#sendMessage {
	background: url(/images/button_send.png) no-repeat;
	background-size: 6vh;
	width: 13vh;
	height: 6vh;
	display: table-cell;
	vertical-align: middle;
	background-position: center;
}

#input {
	width: 77vw;
	max-width: 77vw;
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
}


.backgroundSend{
	width : 97px;
	height : 89px;
	background-image: url("../images/send-97x89.png");
	float: left;
}

#aliasPopin {
	background-color: #FFF;
	width: 84vw;
	display: table-cell;
	vertical-align: middle;
	z-index: 100;
	position: absolute;
	padding: 4vw;
	top: 50vh;
}

#aliasPopin.hidden, #write.hidden, .hidden{
	display: none;
}

#aliasPopin input {
  width: 48vw;
}
#aliasPopin div {
  position: relative;
  margin-right: 8vw;
  display: inline-flex;
  width: 7vw;
  height: 6vw;
  background-size: 6vw;
  background-repeat: no-repeat;
}
.fromMe {
	text-align: right;
}

.fromMe {
	padding-right: 3vw;
}

.notFromMe {
	padding-left: 2vw;
 	z-index: 1;
 	width: 83vw;
}

svg.bubble {
  margin-bottom: -8px;
  z-index: 9000;
}

.notFromMe .alias {
	margin-left: 25px;
}

.fromMe .alias {
	margin-right: 25px;
}
.notFromMe.hljs, .fromMe.hljs {
  background: none;
}

.notFromMe .content, .fromMe .content {
	padding: 5px 0px 5px 25px;
	border-radius: 0px 8px 8px 8px;
	background-color: #3CF;
	display: inline-block;
	padding-right: 20px;
	max-width: 70vw;
	word-wrap: break-word;
}

.fromMe .content {
	padding: 5px 25px 5px 0px;
	border-radius: 8px 0px 8px 8px;
	padding-left: 20px
}

.alias {
	position: relative;
	margin-top: -20px;
 }

 #header {
 	display: flex;
 	height: 30px;
 }

 #header span {
 	margin: auto;
 }

 #header img {
 	margin-right: 7vw;
 }

#header #showMenu {
 	width: 36px;
 	background: url('../images/button_menu.png') no-repeat;
 	background-size: 33px;
}

#menu {
	background-color: #E6E6E6;
	position: absolute;
	top: 34px;
	padding: 5px;
	margin-left: -200px;
	z-index: 100;
}
div#menu.notHidden {
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: leftTopRight;
	animation-name: leftTopRight;
	-webkit-animation-name: leftTopRight;

}
div#menu.hiddenMenu {
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-moz-animation-name: rightToLeft;
	-webkit-animation-name: rightToLeft;
	animation-name: rightToLeft;
}
.imgUploadFile{ 
	width: 33px;
  	height: 37px;
  	background-size: 32px;
  	background-color: #FFF;
  	margin: auto;
}
#menu .dropzone.dz-clickable {
	height: 28px;
	border: none;
	background: none;
}

 @-moz-keyframes leftTopRight {
  0% {
    margin-left: -200px;
  }
  
  100% {
    margin-left:0%;
  }
}

@-webkit-keyframes leftTopRight {
  0% {
    margin-left: -200px;
  }
  
  100% {
    margin-left:0%;
  }
}

 @-moz-keyframes rightToLeft {
   0% {
    margin-left:0%;
  }
	100% {
   margin-left: -200px;
  }
}

@-webkit-keyframes rightToLeft {
   0% {
    margin-left:0%;
  }
	100% {
    margin-left: -200px;
  }
}

#myAlias {
	padding: 12px;
	margin-right: 8px;
	background-size: 15px;
  	background-position: right center;
  	background-repeat: no-repeat;
}
#myAlias .value {
	margin-right: 8vw;
}

div#mask {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	top: 0px;
	position: fixed;
	opacity: 0.5;
	left: 0;
	margin-top: 35px;
}